@model Ajax_Crud.Models.Product;
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@{
    ViewData["Title"] = "Product Ajax";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/styleModal.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
<script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>


<div class="container">

    @* Search *@
    <label> Search: </label>
    <input id="keyword" name="keyword" value="" type="text" />
    <button onclick="ListPro(1)" type="button" id="btnSearch">Search</button>

    <select onclick="ListPro(1)" id="selectTop">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
    <button type="button" id="AddProduct" class="btn btn-outline-primary" data-toggle="modal" data-target="#form">Add New Product</button>
    <div id="ListProduct"></div>
</div>

<partial name="_Modal" />

<script>

    var _page = 1;

    // list product lấy từ partial view
    function ListPro(_page) {
        var keyword = $("#keyword").val();
        var top = $("#selectTop").val();
        $.ajax({
            url: '/Product/_ListProduct',
            type: 'POST',
            data: {
                Keyword: keyword,
                Top: top,
                Page: _page,
            },
            dataType: 'html',
            success: (function (data) {
                $("#ListProduct").html(data);
            }),
        });
    }
    // Auto Load ListProduct
    $(document).ready(ListPro(_page));


    // click button Add mở modal
    $("#AddProduct").click(() => {

        //gán giá trị modal = rỗng
        $("#name").val("");
        $("#price").val("");
        $("#quantity").val("");
        $("#validate_name").html("");

        // gán biến cục bộ = 0 để thực hiện add
        _id = 0;

        // title Modal
        $("#exampleModalLabel").html("<h2> -- Add Product -- </h2>");
    });

    $("#save").click(() => {

        // giá trị nhập vào từ modal
        var name = $("#name").val();
        var price = $("#price").val();
        var quantity = $("#quantity").val();

        //khi giá trị name nhập vào là rỗng
        if (name == "") {
            $("#validate_name").html("<p> Vui lòng nhập Name Product </p>");
        }
        else // ngược lại
        {
            $("#validate_name").html("");
            // xử lí Add Or Update
            $.ajax({
                url: '/Product/AddOrUpdate',
                type: 'POST',
                dataType: 'json',
                data: {
                    product: {
                        id: _id,
                        name: name,
                        price: price,
                        quantity: quantity
                    }
                },
                success: (function (data) {        
                    if (_id == 0) {
                        swal("Add  Success", "You clicked the button!", "success");
                    } else {
                        swal("Update Success", "You clicked the button!", "success");
                    }
                    $("#form").modal('hide');
                    $("#cancel").click();
                    ListPro(_page);     
                })

            });
        }

    })

</script>

