@model Ajax_Crud.Models.Product


@{
    ViewData["Title"] = "Product Ajax";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/styleModal.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@* Validation  *@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<div class="container">

    <button type="button" id="AddProduct" class="btn btn-outline-primary" data-toggle="modal" data-target="#form">Add New Product</button>

    @* List Product *@
    <div id="ListProduct"></div>
</div>

<partial name="_Modal" />


<script>
    // Auto Load ListProduct
    $(document).ready(function () {
        ListPro();
    });

    // list product lấy từ partial view
    function ListPro() {
        $.ajax({
            url: '/Product/_ListProduct',
            type: 'GET',
            dataType: 'html',
            success: (function (data) {
                $("#ListProduct").html(data);
            }),
            timeout: 1000
        });
    }

    // click button Add mở modal
    $("#AddProduct").click(() => {

        //gán giá trị modal = rỗng
        var name = $("#name").val("");
        $("#price").val("");
        $("#quantity").val("");
        $("#validate_name").html("");

        // gán biến cục bộ = 0 để thực hiện add
        _id = 0;

        // title Modal
        $("#exampleModalLabel").html("<h2> -- Add Product -- </h2>");
    });

    $("#save").click(() => {

        // giá trị nhập vào từ modal
        var name = $("#name").val();
        var price = $("#price").val();
        var quantity = $("#quantity").val();

        //khi giá trị name nhập vào là rỗng
        if (name == "") {
            $("#validate_name").html("<p> Vui lòng nhập Name Product </p>");
        }
        else // ngược lại
        {
            $("#validate_name").html("");
            // xử lí Add Or Update
            $.ajax({
                url: '/Product/AddOrUpdate',
                type: 'POST',
                dataType: 'json',
                data: {
                    product: {
                        id: _id,
                        name: name,
                        price: price,
                        quantity: quantity
                    }
                },
                success: (function (data) {
                    // đóng modal
                    $("#form").modal('hide');
                    $("#cancel").click();

                    alert("Add or Update Sussecc")

                    // auto load list
                    ListPro();
                })

            });
        }

    })

</script>


