@model IEnumerable<Ajax_Crud.Models.Product>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Product Ajax</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/styleModal.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <button type="button" id="AddProduct" class="btn btn-outline-primary" data-toggle="modal" data-target="#form">
                Add New Product
            </button>

            @* List Product *@
            <div id="ListProduct">

            </div>

        </div>

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="text">Name Product :</label>
                                <input type="text" class="form-control" value="" id="name" placeholder="Name Product">
                            </div>
                            <div class="form-group">
                                <label for="text">Price Product :</label>
                                <input type="number" class="form-control" min="0" value="" id="price" placeholder="Price Product">
                            </div>
                            <div class="form-group">
                                <label for="text">Quantity Product :</label>
                                <input type="number" class="form-control" min="0" max="1000" value="" id="quantity" placeholder="Quantity Product">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button class="btn btn-secondary" data-dismiss="modal" id="cancel">Cancel</button>
                        <button id="save" class="btn btn-success">Submit</button>
                    </div>
                    
                </div>
            </div>
        </div>


        <script>
            // Auto Load ListProduct
            $(document).ready(function () {
                ListPro();  
            });

            // list product lấy từ partial view
            function ListPro() {
                $.ajax({
                    url: '/Product/ListProductPartial',
                    type: 'GET',
                    dataType: 'html',
                    success: (function (data) {
                        $("#ListProduct").html(data);
                    }),
                    timeout: 1000
                });
            }

            // click button Add mở modal
            $("#AddProduct").click(() => {

                //gán giá trị modal = rỗng 
                $("#name").val("");
                $("#price").val("");
                $("#quantity").val("");

                // gán biến cục bộ = 0 để thực hiện add
                _id = 0;

                // title Modal
                $("#exampleModalLabel").html("<h2> -- Add Product -- </h2>");
            });

            $("#save").click(() => {
                // giá trị nhập vào từ modal
                var name = $("#name").val();
                var price = $("#price").val();
                var quantity = $("#quantity").val();
                //  xử lí Add Or Update
                $.ajax({
                    url: '/Product/AddOrUpdate',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        product: {
                            id: _id,
                            name: name,
                            price: price,
                            quantity: quantity,
                        }
                    },
                    success: (function (data) {
                        // đóng modal
                        $("#form").modal('hide');
                        $("#cancel").click();
                        // auto load list
                        ListPro();
                    })
                });
            })

        </script>

    </body>
    </html>