@model Ajax_Crud.Models.Product;

@using System.Globalization;
@{
    ViewData["Title"] = "Product Ajax";

}

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<style>
    select:not([multiple]) {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-position: right 50%;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
        padding: .5em;
        padding-right: 1.5em
    }

    #mySelect {
        border-radius: 20%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-4">
            <label><b>Search :</b></label>
            <input id="keyword" name="keyword" value="" type="text" />
            <button onclick="ListPro(1)" class="btn btn-outline-primary" type="button" id="btnSearch">Search</button>
        </div>
        <div class="col-3" style="text-align:center">
            <select onclick="ListPro(1)" id="selectStatus" class="mySelect">
                <option value="2">All</option>
                <option value="1">Active</option>
                <option value="0">Block</option>
            </select>
        </div>
        <div class="col-3" style="text-align:center">
            <input class="datepicker1" id="FirstDate" value="@DateTime.Now.AddYears(-1).ToString("MM/dd/yyyy")" placeholder="MM/dd/yyyy" width="200" />
            <input class="datepicker2" id="LastDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" placeholder="MM/dd/yyyy" width="200" />  
        </div>
        <div class="col-2">
            <button type="button" onclick="ListPro(1)" class="btn btn-outline-primary">Seach Date</button>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <select onclick="ListPro(1)" id="selectTop" class="mySelect">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>  
        <div class="col-9"></div>
        <div class="col-2" style="text-align: right">
            <button type="button" id="AddProduct" class="btn btn-outline-primary" data-toggle="modal" data-target="#form">Add Product</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="ListProduct"></div>
        </div>
    </div>

</div>
<partial name="_Modal" />

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    // biến toàn cục
    var _id;
    var _page = 1;

    $('.datepicker1').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('.datepicker2').datepicker({
        uiLibrary: 'bootstrap4'
    });

    function ListPro(_page) {
        var keyword = $("#keyword").val();
        var top = $("#selectTop").val();
        var status = $("#selectStatus").val();
        var firstDate = $("#FirstDate").val();
        var lastDate = $("#LastDate").val() + " " + "23:59:00.000";
        $.ajax({
            url: '/Product/_ListProduct',
            type: 'POST',
            data: {
                Keyword: keyword,
                Top: top,
                Page: _page,
                Status: status,
                FirstDate: firstDate,
                LastDate: lastDate
            },
            dataType: 'html',
            success: (function (data) {
                $("#ListProduct").html(data);
            }),
        });
    }

    // Auto Load ListProduct
    $(document).ready(ListPro(_page));

    // click button Add mở modal
    $("#AddProduct").click(() => {
        //gán giá trị modal = rỗng
        _id = 0;
        $("#Name").val("");
        $("#Price").val("");
        $("#Quantity").val("");
        $("#Quantity").val("");
        $("#validate_name").html("");
        $("#exampleModalLabel").html("<h2> -- Add Product -- </h2>");
    });

    $("#save").click(function () {
        // giá trị nhập vào từ modal
        var Name = $("#Name").val();
        var Price = $("#Price").val();
        var Quantity = $("#Quantity").val();

        if ($("#Name").val() == "") {
            $("#validate_name").html("<p> Name Product can't required </p>");
        } else {
            $.ajax({
                url: '/Product/AddOrUpdate',
                type: 'POST',
                dataType: 'json',
                data: {
                    product: {
                        Id: _id,
                        Name: Name,
                        Price: Price,
                        Quantity: Quantity
                    }
                },
                success: (function (data) {
                    if (_id == 0) {
                        swal("Add Success", "You clicked the button!", "success");
                    } else {
                        swal("Update Success", "You clicked the button!", "success");
                    }
                    $("#form").modal('hide');
                    ListPro(_page);
                })
            });
        }
    })
</script>

